body {
  background-color: red;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#whoAmI {
  background-color: blue;
  height: 100%;
  width: 100%;
}
#about {
  background-color: green;
  height: 100%;
}
